* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightseagreen!important;
}
/* Сама выпадашка */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Скрытый контент выпадашки */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}



/* Цвет ссылок внутри выпадашки при наведении мышью */
.dropdown-content a:hover {background-color: #ddd;}

/* Показывать выпадашку при наведении */
.dropdown:hover .dropdown-content {display: block;}

/* Заголовки публикаций в блоге */
.pub-header {
    background-color: indigo;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.menu-bar {
    background-color: steelblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.menu-bar a {
    color: white;
}


/* Ссылки внутри выпадашки */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Кнопки редактирования на странице контактов */
.edit-btn {
    background-color: darkslategray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 10px;
}

/* Кнопка сохранить отредактированный контент */

.save-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 10px;
}

/* Кнопка отмены редактирования */
.cancel-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 10px;
}