* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/background.jpg');
    background-size: cover;
}


/* Заголовки публикаций в блоге */
.pub-header {
    background-color: indigo;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

/* меню-бары на всех страницах */
.menu-bar {
    background-color: rgb(76, 172, 196);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.menu-bar a {
    color: black;
    font-size: 16pt;
}

.menu-bar a:hover {
    color: black;
    background-color: white;
}



/* Кнопки редактирования на странице контактов */
.edit-btn {
    background-color: darkslategray;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 10px;
}

/* Кнопка сохранить отредактированный контент */

.save-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 10px;
}

/* Кнопка отмены редактирования */
.cancel-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    margin-top: 10px;
}

/* Форматирование портрета на главной странице */
.portrait-box {
    height: auto;
    width: auto;
}