{% extends "base.html" %}
{% load static %}
{% block extra_styles %}
    {{ form.media }}
{% endblock extra_styles %}

{% block content %}
    <div class="container">
        <h2>Расписание занятий</h2>
    </div>
    <div class="container mt-3">
        <table class="table table-bordered table-striped-columns">
            <thead class="table-primary">
                <tr>
                    {% for weekday_num, weekday_name, lessons in schedule %}
                        <th>{{ weekday_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for weekday_num, weekday_name, lessons in schedule %}
                    <td>
                        {% for lesson in lessons %}

                            <strong>{{ lesson.students_name }}</strong><br>
                            Время: {{ lesson.lesson_time }}<br>
                            Продолжительность: {{ lesson.lesson_duration }} мин <br>
                        {% empty %}
                            <span class="text-muted">Нет занятий</span>
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                
            </tbody>
        </table>
    </div>
    <div class="container editable-block">
        <div class="page-content-block">
            {{ page_content.content | safe }}
        </div>
        {% if user.is_superuser %}

        <div>

            <button class="edit-btn"><i class="bi bi-pencil-square"></i>Редактировать</button>


            <form class="edit-form" method="post" style="display:none;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save-btn">Сохранить</button>
                <button type="button" class="cancel-btn">Отмена</button>
            </form>
        </div>
    {% endif %}
    </div>
{% endblock content %}

{% block extra_scripts %}
    <script src="{% static 'js/scripts.js' %}"></script>
{% endblock extra_scripts %}