{% extends "base.html" %}
{% load static %}
{% block title %}
    Список публикаций
{% endblock title %}

{% block content %}
<div class="container">
    <div class="d-flex mt-5 flex-row-reverse">
        <form method="GET" action=".">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control-sm" id="searchForm" aria-describedby="searchForm" placeholder="Введите поисковый запрос" name="q" value="{{ request.GET.q|default:'' }}">
                <button type="submit" class="btn btn-primary"><span><i class="bi bi-search"></i></span></button>
            </div>

        </form>
    </div>
    <div class="col">
        {% for publication in publications %}
            {% if publication.is_published %}

                <div class="card mt-5">
                    <div class="pub-header">
                        <h2>{{ publication.title }}</h2>
                    </div>
                    <div class="container">
                        <div class="d-flex flex-column card-body">
                            <div class="col">
                                <p>{{ publication.content|safe }}</p>
                                {% if publication.presentation_file %}
                                    <p>
                                        <a href="{% url "download_file" publication.pk %}" class="btn btn-primary">Скачать файл</a>
                                    </p>
                                {% else %}
                                    <p class="text-muted">Файл не прикреплен</p>
                                {% endif %}
                                {% if publication.preview_file %}
                                    <div class="embed-responsive embed-responsive-16by9 mb-3">
                                        <iframe src="{{ publication.preview_file.url }}" width="100%" height="500px"></iframe>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-between w-100 px-3 pb-2">
                                    <span class="text-muted">Дата: {{ publication.created_at|date:"d M Y" }}</span>
                                    <span class="text-muted">Скачано {{ publication.downloads_count }} раз.</span>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>

            {% endif %}
        {% empty %}
            <div class="col mt-5">
                <h2>Нет публикаций</h2>
                <p>Пока что нет публикаций в блоге.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}